*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: deeppink;
    width: 100%;
    height: 100dvh;
    display: flex;
}

.main-container{
    width: 100%;
    display: flex;
}

.main-content{
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.gameboards-container{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.gameboard{
    background-color: greenyellow;
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-cell{
    width: 42px;
    height: 42px;
    border: none;
    cursor: pointer;
}

.start-game{
    width: 100px;
    height: fit-content;
    cursor: pointer;
    border: none;
    margin-bottom: 45px;
}

/* #rightGameboard > #gameCell\#55{
    background-color: blueviolet;
} */

/* #rightGameboard > button.game-cell{
    background-color: blueviolet
} */