@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Roboto:wght@100;400;700&display=swap');

:root{
    --gameboard-background: #F0FFFF;
    --background-color: #FAF9F6;
    --gamecell-background: #ADD8E6;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    width: 100%;
    height: 100dvh;
    display: flex;
    font-family: 'Bowlby One SC', cursive;
}

.main-container{
    width: 100%;
    display: flex;
}

.main-content{
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.header-title{
    font-family: 'Bowlby One SC', cursive;
    font-size: 4rem;
}

.gameboards-container{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.player-gameboard, .computer-gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gameboard{
    background-color: var(--gameboard-background);
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-cell{
    width: 42px;
    height: 42px;
    border: none;
    
}

#rightGameboard > .game-cell{
    cursor: pointer;
}

.gameboard > .game-cell{
    /* border: 1px solid black; */
    background-color: var(--gamecell-background);
}


.gameboard-text{
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-family: 'Bowlby One SC', cursive;
}


.footer-content{
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-top: auto;
    font-size: 0.9rem;
}

.fa-github {
  margin: 12px;
  color: inherit;
}



/* ======================================= ships-placement ======================================= */
.start-game, .change-axis, .restart-game{
    min-width: 100px;
    height: fit-content;
    cursor: pointer;
    border: none;
    /* margin-bottom: 45px; */
    margin: 12px 0;
    background-color: #E5E4E2;
    border-radius: 3px;
    padding: 4px;
    font-size: 1.1rem;
}

.change-axis{
    /* margin: 12px 0 0 0; */
    width: fit-content
}

.ships-placement, .game-over{
    width: 450px;
    min-height: 600px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    background-color: var(--background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    box-shadow: rgba(18, 18, 18, 0.8) 0px 22px 700px 4000px;
}

.placement-header{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12px;
}

.placement-board{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.placement-board > .game-cell, .ship-square{
    width: 29px;
    height: 29px;
    border: 1px solid white;
}

.placement-board > .game-cell{
    background-color: var(--gamecell-background);
    /* border: none; */
}


.cells-ship{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin-bottom: 5px;
}

.ship-square{
    cursor: pointer;
}

.ships-selection{
    /* margin: 12px 0; */
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 300px;
}


.game-over{
    width: 450px;
    min-height: 300px;
    height: fit-content;
    justify-content: space-evenly;
}

.end-game-text{
    font-size: 1.4rem;
}


#fiveCellsShip > .ship-square{
    background-color: red;
}

#fourCellsShip > .ship-square{
    background-color: blue;
}

#threeCellsShip > .ship-square{
    background-color: yellow;
}

#twoCellsShip > .ship-square{
    background-color: green;
}

#oneCellShip > .ship-square{
    background-color: plum;
}

.game-cell.plum{
    background-color: plum;
}

.game-cell.red{
    background-color: red;
}

.game-cell.green{
    background-color: green;
}

.game-cell.yellow{
    background-color: yellow;
}

.game-cell.blue{
    background-color: blue;
}

.cells-ship > button:disabled{
    filter: grayscale(75%);
    cursor: not-allowed;
    transform: translateY(0px);
}

.end-game{
    filter: grayscale(75%); 
}

.cells-ship:active{
    transform: translateY(3px);
}

.gameboard-icon{
    width: 36px;
    height: auto;
}

.hit{
    background-image: url("./icons/explosion.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.missed{
    background-image: url("./icons/splash.png");
    background-size: cover;
    background-repeat: no-repeat;
}