*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: deeppink;
    width: 100%;
    height: 100dvh;
    display: flex;
}

.main-container{
    width: 100%;
    display: flex;
}

.main-content{
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.gameboards-container{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.gameboard{
    background-color: greenyellow;
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-cell{
    width: 42px;
    height: 42px;
    border: none;
    cursor: pointer;
}

.start-game{
    width: 100px;
    height: fit-content;
    cursor: pointer;
    border: none;
    margin-bottom: 45px;
}

.ships-placement{
    width: 450px;
    height: 600px;
    background-color: cornsilk;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
}

.placement-board{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.placement-board > .game-cell, .ship-square{
    width: 29px;
    height: 29px;
    background-color: aqua;
    border: 1px solid white;
}

.cells-ship{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin-bottom: 5px;
}

.ships-selection{
    margin-top: 36px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
}

#fiveCellsShip > .ship-square{
    background-color: red;
}

#fourCellsShip > .ship-square{
    background-color: blue;
}

#threeCellsShip > .ship-square{
    background-color: yellow;
}

#twoCellsShip > .ship-square{
    background-color: green;
}

#oneCellShip > .ship-square{
    background-color: plum;
}

.game-cell.plum{
    background-color: plum;
}

.game-cell.red{
    background-color: red;
}

.game-cell.green{
    background-color: green;
}

.game-cell.yellow{
    background-color: yellow;
}

.game-cell.blue{
    background-color: blue;
}

button:disabled{
    filter: grayscale(75%);
}
/* #rightGameboard > #gameCell\#55{
    background-color: blueviolet;
} */

/* #rightGameboard > button.game-cell{
    background-color: blueviolet
} */